html, body { 
    background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/488f115d-6e44-4ccd-b238-b2699af64966/d7bmuby-04d917d9-1cee-4f57-8296-ec8b7f0d2d1f.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl0sIm9iaiI6W1t7InBhdGgiOiIvZi80ODhmMTE1ZC02ZTQ0LTRjY2QtYjIzOC1iMjY5OWFmNjQ5NjYvZDdibXVieS0wNGQ5MTdkOS0xY2VlLTRmNTctODI5Ni1lYzhiN2YwZDJkMWYuanBnIn1dXX0.wClHfSD3oCjzHg1FrXb-hIz6d0r_v5fpmFYjzToBiOc) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.header-container {
    height: 100px;
}

.card {
  opacity: .85;
  width: 90%;
}

.main-title {
  text-shadow: 2px 2px 5px rgb(104, 252, 190);
}

@keyframes blinking {
  0% {
    color: #ff3d50;
  }

  100% {
    color: #ffffff;
  }
}

/* .countdown-timer{
  animation: blinking 1s infinite;
} */
